#no-landscape {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--main-color);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
  }
  
  @media (orientation:portrait) {
    #no-landscape {
      display: none;
    }
  }